* {
  font-family: NoyhRW01-Medium, sans-serif;
}

.container ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 50%;
}

.container ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0 15px;
}

.container ul li:nth-child(odd) {
  background: #ccc;
}

.effacer {
  height: 35px;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

form {
  width: 35%;
}

input {
  font-size: medium;
  width: 98%;
  border: 2px solid black;
  padding: 5px 10px;
}

button {
  font-size: medium;
  float: right;
  border: solid 2px black;
  box-shadow: 3px 3px 0 0;
}

button:hover {
  cursor: pointer;
  box-shadow: 5px 5px 0 0;
}

form h2 {
  text-align: center;
  font-size: 2rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
  border: 2px solid black;
  margin: 1rem;
  font-size: 1rem;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
  margin: 5px;
}

.navbar ul li {
  display: flex;
  height: 2rem;
  align-items: center;
  cursor: pointer;
}

.navbar ul li:nth-child(2) {
  border-right: 2px solid black;
  border-left: 2px solid black;
  padding: 0 1rem;
}

.date-time {
  text-align: right;
  padding: 0;
  margin: 0 1rem;
}

.footer {
  border: 2px solid black;
  padding: 0 1.5rem;
  margin: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: auto;
}
.div-contact {
  display: none;
  list-style: inside;
  text-align: center;
}

.div-contact ul {
  display: inline-block;
  text-align: left;
}

